h1 {
    font-weight: bolder;
}

#toc h2 {
    font-weight: bolder;
}

.links h2 {
    font-weight: bolder;
}

.citation h2 {
    font-weight: bolder;
}

.license h2 {
    font-weight: bolder;
}

.developers h2 {
    font-weight: bolder;
}

.dev-status h2 {
    font-weight: bolder;
}
